/* Container for the entire component */
.friend-summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #3498db; 
  color: white;
  padding: 20px;
}

.friend-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Inner container for the form */
.form-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}

/* Title styling */
h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* Content inside the form */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-top: 20px;
}

/* Button styling */
button {
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  background-color: lightgray;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

/* Button on hover */
button:hover {
  background-color: darkgray;
}
