.image-description-container {
    text-align: center;
    min-height: 100vh;
  }
  
  .image-description-textarea {
    display: block;
    width: 80%;
    height: 100px;
    margin: 10px auto;
    padding: 5px;
  }
  
  .next-step-button, .go-back-button {
    margin: 10px;
  }

.generate-image-button, .try-again-button {
    margin: 10px;
  }
  
  .generated-image {
    width: 200px; /* Adjust size as needed */
    margin-top: 20px;
  }
  
  
  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  